#selectArea {
    width: 450px;
    border: 5px solid rgb(0, 0, 0);
    height: 690px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    animation: fade-in 2s;
}


#map {
    text-align: center;
}

#map img {
    height: 640px;
}

#selectAreatitle {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.area {
    position: absolute;
    width: 40px;
    height: 70px;
    font-family: 'ONE-Mobile-Regular';
    border-radius: 18px;
    text-align: center;
    background-color : #1874C3;
    color: white;
    cursor: pointer;
    animation: load 1.2s;
}

#seoul {
    top: 150px;
    left: 132px
}

#Incheon {
    top: 140px;
    left: 87px
}

#Yongin {
    top : 190px;
    left : 175px;
}

#Namyangju {
    top: 116px;
    left : 180px;
}

#gangneung {
    top: 130px;
    left : 300px;
}

#chuncheon {
    top: 80px;
    left : 225px;
}

#wonju {
    top: 180px;
    left: 225px;
}

#cheongju {
    top: 258px;
    left: 207px;
}

#daejeon {
    top: 290px;
    left: 165px;
}

#sejong {
    top:240px;
    left:125px;
}

#cheonan {
    top:260px;
    left:80px;
}

#gwangju {
    top:420px;
    left:115px;
}

#suncheon {
    top:450px;
    left:160px;
}

#jeonju {
    top:365px;
    left:155px;
}

#pohang {
    top: 290px;
    left: 340px
}

#daegu {
    top: 350px;
    left: 275px
}

#andong {
    top: 230px;
    left: 280px
}

#ulsan {
    top: 365px;
    left: 345px
}

#busan {
    top: 435px;
    left: 315px
}

#Jinju {
    top: 390px;
    left: 210px
}

#jeju {
    top: 615px;
    left: 90px
}

#ulchin{
    top: 180px;
    left: 390px;
}