@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes loadinggif {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes notdisplay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  #loading2 {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    animation: loadinggif 1.8s;
    z-index: 1;
    opacity: 0;
}

#loading2 img {
    position: absolute;
    top: 150px;
    width :200px;
    left: 50%;
    transform: translateX(-50%); 
}


#selectedArea {
    width: 400px;
    height: 500px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0px; 
    right: 0px; 
    background-color: white;
    animation: fade-in 3s;
}

#selectedAreaLoad {
    animation: fade-in 3s;
    
}

#selectedAreatitle {
    font-size: 30px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

#weatherImg {
    width: 120px;
    height: 120px;
    display: inline-block; 
}

#weatherImg img {
    width: 120px;
    height: 120px;
}

#presentTempArea {
    font-family: 'TmoneyRoundWindExtraBold';
    width: 160px;
    height: 100px;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    vertical-align: top;
    color: #1874C3;
    padding-top: 20px;
}

#detail {
    width: 400px;
    height: 30px;
    font-size: 15px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#feelslikeArea, #humidityArea, #windArea {
    background-color: #2AA9D2;
    width: 90px;
    height: 28px;
    font-size: 13px;
    color: white;
    border-radius: 14px;
    line-height: 30px;
    padding: 0 10px; 
    font-family: 'ONE-Mobile-Regular';
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin-right: 10px; 
}

#nowWeather {
    text-align: center;
}

#hourlyWeather {
    width: 400px;
    height: 130px;
    overflow-x: auto;  
    overflow-y: hidden;  
    white-space: nowrap; 
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 0 5px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border-top: 1px dashed gray;
}

#hourlyWeather::-webkit-scrollbar {
    height: 5px;
}

#hourlyWeather::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    height: 5px;
}

#hourlyWeather::-webkit-scrollbar-thumb {
    height: 5px;
}


#hourlyWeather img {
    width: 50px; 
}

#hourlyWeather div {
    text-align: center; 
    font-family: 'ONE-Mobile-Regular';
    width: 60px;
    height: 130px; 
    display: inline-block;
    margin-right: 10px;
    white-space: normal; 
    box-sizing: border-box;
}

#hourlyWeather #hourlyWeatherDay,
#hourlyWeather #hourlyWeatherHour {
    font-size: 13px; 
}

#hourlyWeather #hourlyWeatherTemp {
    font-size: 13px;
    color: #1874C3;
}


#dailyWeather {
    width: 400px;
    height: 150px;
    white-space: nowrap; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    border-top: 1px dashed gray;
    padding-top: 10px;
}

#dailyWeather img {
    width: 60px;
    display: block; 
    margin: 0 auto; 
    margin-top: 5px;
}

#dailyWeather div {
    text-align: center;
    font-family: 'ONE-Mobile-Regular';
    width: 90px;
    height: 130px;
    display: inline-block;
    margin-right: 10px;
    white-space: normal;
}

#dailyWeather #dailyWeatherDay,
#dailyWeather #dailyWeatherHour {
    font-size: 13px; 
}

#dailyWeather #dailyWeatherTemp {
    font-size: 13px;
    color: #1874C3;
}

#dailyWeather #dailyWeatherContext {
    font-size: 15px;
    color: #1874C3;
}