#weatherComparison {
    width: 400px;
    height: 150px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: white;
}

#weatherComparisonTitle {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}